h1 { 
    color: rgb(236, 245, 247); 
    text-align: center;
    font-size: xx-large;
     
  } 
   
  h2 {  
    text-align: left;
    color: rgba(238, 240, 245, 0.87); 
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
} 



  p { 
    font-family: sans-serif; 
    color: rgb(1, 8, 10);
  } 

  body {
    background-color: rgb(231, 10, 65);
  }
   
  ol { 
    font-size: 20px; 
    line-height: 30px;
    margin-left: 200px;
    color: rgb(2, 1, 12);
  } 